@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: overlay;
}

a {
  color: inherit !important;
  text-decoration: none;
}

svg { vertical-align: baseline; }

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background-color: #D3D3D3;
}

.title-list,.ant-list-item-meta-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
